---
layout: archive
---

{% if paginator.page == 1 or paginator.page == nil %}

👋 Welcome to the site!<br><br>

First and foremost, I like to keep the focus on learning and responsible research here.  It's exciting to explore offensive security tradecraft, don't get me wrong.  But I'd like to recognize the importance behind responsible use of the techniques and code I share on this blog.  My goal is to enhance security not abuse it.  The code I provide on this site is intended for educational purposes and meant to inform the cyber community.  Lastly, I want to reiterate that the code on this site should be used responsibly, and I am in no way responsible for misuse.  My code is sloppy, so it will be very obvious if I see it being used copy pasta out in the wild by the way 😸 Okay!  With that little disclaimer out of the way, enjoy your stay and hit me up on discord if you want to learn more about a given topic, etc.<br><br>

<b>Quick links to popular content can be found below:</b><br><br>

<a href="https://g3tsyst3m.github.io/shellcoding/assembly/debugging/x64-Assembly-and-Shellcoding-101/">Shellcoding/x64 Assembly Series</a><br>

<a href="https://g3tsyst3m.github.io/privilege%20escalation/Creative-UAC-Bypass-Methods-for-the-Modern-Era">UAC Bypass Techniques</a><br>

<a href="https://g3tsyst3m.github.io/sockets/Create-your-own-Netcat-using-Python/">Create your own Netcat using Python</a><br>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% endif %}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
